@model SouvenirSales.WebUI.Models.Entities.Category
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Create</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mb-4">
                <form action="/Category/Create" method="post">

                    <div class="form-group">
                        <label for="Name">Category Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>